/* 多个页面所通用组件必需的样式 */
/* 顶部的灰色条 */
.topbar {
	background: #f9f9f9;
	border: 1px solid #eee;
	line-height: 36px;
}
.download-app {
	color: #f60;
}
.topbar-item {
	padding: 0 0.5em;
}
.topbar-item:last-child {
	padding-right: 0;
}
/* 2、LOGO+搜索条 */
.searchbar > .container {
	/* 为了元素的绝对定位提供定位标准 */
	position: relative;
}
.logo {
	margin: 1.5em 0;
}
.search {
	/* 保证元素在父容器中竖直居中方法1：调整上间距 */
	/* margin-top: 25px; */
	/* 保证元素在父容器中竖直居中方法2：先向下移到父容器中线
	 一下，再向上微调自身高度一半*/
	 position: absolute;
	 top: 50%;      /* 距离已定位的父元素顶部为父容器的50% */
	 right: 200px;   /*w为右侧的“我的购物车”留空*/
	 margin-top: -16px;    /* 往上微调自身高度的一半 */
}
.search-input {
	width: 360px;
	height: 32px;
	line-height: 32px;
	padding: 0 0.6em;
	font-size: 1.15em;
	border: 1px solid #ccc;
	/* margin-right: 50px;   /*让出右侧的搜索按钮的空间*/ */
}
.search-button {
	width: 50px;
	height: 32px;
	background: #00be56;
	color: #fff;
	line-height: 32px;
	border: none;
	font-size: 1.7em;
	position: absolute;
}
.my-cart {
	position: absolute;
	right: 0;
	top: 50%;
	height: 32px;
	margin-top: -16px;
	border: 1px solid #ddd;
	background: #F9F9F9;
	line-height: 32px;
	padding: 0 0.5em;
}
.my-cart > .fa {
	color: #00be56;
	padding: 0 0.5em;
}
/* 3、导航条 */
.navbar{
	background: #00be56;
	border-bottom: 3px solid #b3efc0;
	height: 52px;
	font-size: 1.15em;
}
.menu:after{
	
}
.menu > li{
	float: left;
	line-height: 49px;
	padding: 0 1.5em;	
}
.menu > li:hover{
	background: #00b149;
}
.menu > li.active {
	background: #00a43d;
}
.menu > li > a{
	color: #fff;
}
.user-center {
	background: #55c760;
	line-height: 49px;
}
.user-center a,
.user-center span {
	color: #fff;
}
.user-center a:hover {
	color: #ffff9b;
}
/* 4、轮播广告 */
.carouselbar {
	border-bottom: 4px solid #ddd;
}
.carousel {
	position: relative;    /*绝对定位的子元素提供参照物*/
}
.carousel  .items  a {
	display: block;     /*改为块级元素，可以修改宽和高*/
	width: 100%;
	height: 380px;
	background-position: center;    /*背景图的位置*/
	background-repeat: no-repeat;   /*背景图仅显示一次*/
}
.carousel  .items  li:not(.active) {     /*不带.active的li隐藏*/
	display: none;
}
.carousel  .indicators {
	position: absolute;    /*圆形指示器要在图片上方*/
	bottom: 20px;
	left: 50%;
	margin-left: -72px;
}
.carousel  .indicators  li {
	width: 18px;
	height: 18px;
	background: #ccc;
	border-radius: 50%;    /*边框圆角半径为尺寸的一半*/
	float: left;
	margin: 0 9px;
	cursor: pointer;       /*光标悬停时变为“小手”*/
}
.carousel  .indicators  li.active {
	background: #ff9300;
}
.carousel  .controls {
	position: absolute;
	top: 50%;
	left: 50%;
}
.carousel  .controls .prev,
.carousel  .controls .next {
	position: absolute;
	width: 54px;
	height: 94px;
	font-size: 4em;
	line-height: 94px;      /*文字竖直居中*/
	text-align: center;     /*文字水平居中*/
	/* opacity: .5;    会导致当前元素及其中的文字/图片*/
	background: rgba(0,0,0,0.3);  /*仅背景颜色半透明*/
	color: #fff;
	margin-top: -47px;
}
.carousel  .controls .prev {
	margin-left: -496px;
}
.carousel  .controls .next {
	margin-left: 442px;
}
.carousel  .controls .prev:hover,
.carousel  .controls .next:hover {
	background: rgba(0,0,0,0.6);
}
/* 5、主体部分 */
.mainbar {
	border-bottom: 1px solid #ddd;
}
.mainbar  .header {
	position: relative;   /*为绝对定位的子元素提供参照物*/
	border-bottom: 3px solid #ddd;
}
.mainbar  .header h3 {
	font-weight: normal;   /*标题字加粗取消*/
	margin-bottom: .5em;   /*0.5简写为.5*/
	padding: 0 0.8em;      /*此处的0.8可简写为.8*/
}
.mainbar  .header a {
	position: absolute;
	right: 0;
	bottom: .3em;
}
.mainbar  .header span {
	width: 7em;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -3px; /*此处不能使用0，仍然在父容器边框内*/
	background: #00be56;
}
.mainbar  .course  {
    padding: 1.2em  0;   /*每列中的.course需要自己提供上下间距*/
}
.mainbar  .course  .pic  img {
	width: 100%;
}
.mainbar  .course  .title {
	display: block;   /*让课程标题占一整行*/
	text-align: left;
	line-height: 1.8em;
}
.mainbar  .course  .teacher {
	display: block;   /*让讲师姓名占一整行*/
	font-size: .8em;
	color: #999;
	text-align: left;
	line-height: 1.8em;
}
.mainbar  .course  .price {
	display: block;   /*让价格占一整行*/
	font-size: bold;
	color: #ff5a00;
	text-align: left;
}
/* 选择“底部条”中的“容器”下的第一个，row元素 */
.bottombar {
	background: #eee;
}
.bottombar > .container > .row:first-child {
	border-bottom: 1px solid #ddd;
}